html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
  padding-bottom: 40px;  /* Reduced Footer height */
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;  /* Reduced fixed height of the footer */
}

.site-footer .wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-content {
  text-align: center;
  font-size: 0.8em;  /* Slightly reduced font size */
  line-height: 1.2;  /* Tightened line height */
}
