/* Existing styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
  padding-bottom: 40px;  /* Footer height */
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;  /* Fixed height of the footer */
}

.site-footer .wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-content {
  text-align: center;
  font-size: 0.8em;
  line-height: 1.2;
}

/* New styles for mobile menu */
.site-nav {
  float: right;
  position: relative;
}

.site-nav .nav-trigger {
  display: none;
}

.site-nav .menu-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
  }

  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
  }

  .site-nav .trigger {
    clear: both;
    display: none;
  }

  .site-nav .nav-trigger:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }

  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}
