html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
  padding-bottom: 60px;  /* Footer height */
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;  /* Set the fixed height of the footer here */
}

.footer-content {
  text-align: center;
  font-size: 0.9em;
}
